@charset "utf-8";

/* common font-family */
@font-face {
  font-family: 'KCC-Hanbit';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'KCC-Hanbit', sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
body {
  color: #333;
}

/* colors */
:root {
  --main-color: #fefefe;
  --common-color: #c73659;
  --accent-color: #a91d3a;
  --btn-color: #f3eed9;
  --hover-color: #151515;

  --lemon-color: #fdde55;
  --apple-color: #c40c0c;
  --carrot-color: #ff8a08;
  --water-color: #b7c9f2;
  --barley-color: #ecb159;
  --green-color: #99bc85;
}

/* common */
html,
body {
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
  color: var(--main-color);
}

.btn {
  appearance: none;
  padding: 5px 10px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  background-color: var(--btn-color);
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background-color: var(--hover-color);
  color: var(--main-color);
}

ul {
  overflow-y: auto;
}

ul p {
  margin-left: 5px;
  flex-grow: 1;
}

/* layout */
#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.container {
  padding: 10px;
  border: 5px solid var(--common-color);
}

header {
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--accent-color);
  color: var(--main-color);
}

main {
  overflow: hidden;
  display: flex;
  border-radius: 10px;
}

section {
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  height: 540px;
  background-color: var(--common-color);
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.product-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--main-color);
}
.product-item i {
  font-size: 40px;
}

i[class*='lemon'] {
  color: var(--lemon-color);
}
i[class*='apple'] {
  color: var(--apple-color);
}
i[class*='carrot'] {
  color: var(--carrot-color);
}
i[class*='water'] {
  color: var(--water-color);
}
i[class*='barley'] {
  color: var(--barley-color);
}
i[class*='green-tea'] {
  color: var(--green-color);
}

.mechanism {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cart-list {
  flex-grow: 1;
  display: flex;
  gap: 5px;
}
.cart-list ul {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--main-color);
  outline: 1px dotted red;
}

.purchase {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.purchase-list {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--main-color);
}
.input-amount {
  margin-bottom: 20px;
}

.remaining-amount span {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: var(--main-color);
}

.cash-in-hand p {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: var(--main-color);
}

.change button {
  width: 100%;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#qty-result {
  display: inline-block;
  width: 20px;
  text-align: center;
}
