@charset "utf-8";

@import url('./common.css');

/* 음료수 섹션 */
#drinks {
  border-radius: 16px 16px 0 0;
}

#products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.product-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
}

.product-item i {
  font-size: 40px;
}
.product-qty {
  font-size: 14px;
  opacity: 0.8;
}

/* 장바구니 섹션 */
#cart {
  display: flex;
  flex-wrap: wrap;
  width: 530px;
  border-radius: 0 0 16px 16px;
}
#cart > .title {
  width: 100%;
}
#cart > .cart-wrap {
  margin-right: 8px;
}

#cart-list {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 360px;
  height: 112px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.cart-content {
  display: flex;
  align-items: center;
  gap: 8px;
}
.cart-modify {
  display: flex;
  align-items: center;
  gap: 8px;
}
.cart-qty {
  width: 20px;
  text-align: center;
}
#cart-cost {
  margin-top: 16px;
  padding-top: 16px;
  border-top: 2px dashed #d9d9d9;
  text-align: right;
}

/* 소지금 섹션 */
#possession {
  border-radius: 16px 16px 0 0;
}

/* 투입금액, 남은금액 섹션 */
#amount {
  display: flex;
  flex-direction: column;
}

.input-amount {
  margin-bottom: 48px;
}
.change {
  margin-top: 8px;
}
.change > button {
  width: 100%;
}

/* 구매 목록 섹션 */
.right-group {
  display: flex;
  flex-direction: column;
}
#purchase {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 16px 16px;
}
#purchase-list {
  overflow-y: auto;
  height: 229px;
}
.purchase-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.purchase-item:not(:last-child) {
  margin-bottom: 8px;
}
.purchase-content {
  display: flex;
  align-items: center;
  gap: 8px;
}
